---
title: Landing page
layout: landing
hero:
  callout:
    alt: 'Hero callout:'
    text: 'Call attention to a current priority'
  link:
    text: Link to more about that priority
    href: /link/to/more
  button:
    text: 'Learn about what we do'
    href: /link/to/learn
tagline: This is the tagline
intro: |

  The tagline should inspire confidence and interest, focusing on the value that your overall approach offers to your audience. Use a heading typeface and keep your tagline to just a few words, and don’t confuse or mystify.

  Use the right side of the grid to explain the tagline a bit more. What are your goals? How do you do your work? Write in the present tense, and stay brief here. People who are interested can find details on internal pages.

---

Welcome to {{ site.title }}!
